In [81]:
#Importing packages
import requests
import bs4 as bs
import pandas as pd
import re
import datetime
from datetime import datetime

In [181]:
# Getting the URL
url = 'https://en.wikipedia.org/wiki/List_of_post%E2%80%932016_election_Donald_Trump_rallies'
response = requests.get(url, headers={'name': 'Laurits Harbom Marcussen', 'email': 'zhg932@alumni.ku.dk'})
soup = bs.BeautifulSoup(response.content, 'lxml') # Get the HTML of the website
tables = soup.find_all('table')

In [83]:
#Converts html's to dataframes, convert lists to dataframe
df=pd.read_html(str(tables))
df1=pd.DataFrame(df[8])
df2=pd.DataFrame(df[9])

#Isolate the "Date of rally2 columns, and combine the 2 tables
dates = pd.concat([df1["Date of rally"], df2["Date of rally"]])
dates = dates.reset_index(drop=True)

#Cleans wiki-data
def clean():
    for i in range(len(dates)):
        dates[i] = re.sub(r'\[\d+\]', '', dates[i])
        date_list = dates[i].split(',') # # Removing the weekday and the comma from the strings by splitting the strings and merging them again
        dates[i] = ''.join(date_list[1:])
        dates[i] = pd.to_datetime(dates[i]).strftime('%Y-%m-%d') # Converting to datetime format
    return dates
clean()

0     2020-06-20
1     2020-06-23
2     2020-08-17
3     2020-08-17
4     2020-08-18
         ...
65    2020-11-02
66    2020-11-02
67    2020-12-05
68    2021-01-04
69    2021-01-06
Name: Date of rally, Length: 70, dtype: object

In [107]:
#Craeting a list of all the dates we wanna analyze
all_dates = pd.date_range(start='5/21/2020', end='2/05/2021')
date_list = all_dates.strftime('%Y-%m-%d')
s = pd.Series(date_list)

In [108]:
#Comparing the list of all dates and the list of rally dates, and making a binary list of coinciding dates
binary_list = []
for i in s:
    if i in dates.values: 
        binary_list.append(1)
    else: 
        binary_list.append(0)
binaries = pd.Series(binary_list)

In [109]:
#Making a combined list
rallies = [[s[i], binaries[i]] for i in range(len(binary_list))]

In [110]:
#Making a dataframe with the dates
df_rally = pd.DataFrame(rallies, columns=['date', 'rally'])

In [111]:
#create a date column with datetime
df_rally['date'] = pd.to_datetime(df_rally['date'])

In [112]:
df_rally

          date  rally
0   2020-05-21      0
1   2020-05-22      0
2   2020-05-23      0
3   2020-05-24      0
4   2020-05-25      0
..         ...    ...
256 2021-02-01      0
257 2021-02-02      0
258 2021-02-03      0
259 2021-02-04      0
260 2021-02-05      0

[261 rows x 2 columns]

In [121]:
last_rally = 79
days_since_list = []

#days_since = last_rally 
for rally in df_rally['rally']:
    if rally == 1:
        last_rally = 0
    else:
        last_rally += 1
    days_since_list.append(last_rally)
#Insert into dataframe
df_rally['days_since_last_rally'] = days_since_list

In [126]:
#Get a reversed dataframe
rally_reverse = df_rally.sort_values(by='date', ascending=False).copy()

In [134]:
days_to_next = []
next_rally = 139
for rally in rally_reverse['rally']:
    if rally == 1:
        next_rally = 0
    else:
        next_rally += 1
    days_to_next.append(next_rally)
days_to_next = list(reversed(days_to_next))
df_rally['days_to_next_rally'] = days_to_next

In [138]:
df_rally.iloc[20:50]

         date  rally  days_since_last_rally  days_to_next_rally
20 2020-06-10      0                    100                  10
21 2020-06-11      0                    101                   9
22 2020-06-12      0                    102                   8
23 2020-06-13      0                    103                   7
24 2020-06-14      0                    104                   6
25 2020-06-15      0                    105                   5
26 2020-06-16      0                    106                   4
27 2020-06-17      0                    107                   3
28 2020-06-18      0                    108                   2
29 2020-06-19      0                    109                   1
30 2020-06-20      1                      0                   0
31 2020-06-21      0                      1                   2
32 2020-06-22      0                      2                   1
33 2020-06-23      1                      0                   0
34 2020-06-24      0                      1                  54
35 2020-06-25      0                      2                  53
36 2020-06-26      0                      3                  52
37 2020-06-27      0                      4                  51
38 2020-06-28      0                      5                  50
39 2020-06-29      0                      6                  49
40 2020-06-30      0                      7                  48
41 2020-07-01      0                      8                  47
42 2020-07-02      0                      9                  46
43 2020-07-03      0                     10                  45
44 2020-07-04      0                     11                  44
45 2020-07-05      0                     12                  43
46 2020-07-06      0                     13                  42
47 2020-07-07      0                     14                  41
48 2020-07-08      0                     15                  40
49 2020-07-09      0                     16                  39

In [176]:
#Get the rallies within three days of the given index
within_3_days = []
cnt = 0
for i in range(len(rallies)):
    for d_r in rallies[(i-3):(i+3)]:
        cnt += d_r[1]
    within_3_days.append(cnt)
    cnt = 0
df_rally['within_3_days'] = within_3_days

In [177]:
df_rally.iloc[25:40]

         date  rally  days_since_last_rally  days_to_next_rally  within_3_days
25 2020-06-15      0                    105                   5              0
26 2020-06-16      0                    106                   4              0
27 2020-06-17      0                    107                   3              0
28 2020-06-18      0                    108                   2              1
29 2020-06-19      0                    109                   1              1
30 2020-06-20      1                      0                   0              1
31 2020-06-21      0                      1                   2              2
32 2020-06-22      0                      2                   1              2
33 2020-06-23      1                      0                   0              2
34 2020-06-24      0                      1                  54              1
35 2020-06-25      0                      2                  53              1
36 2020-06-26      0                      3                  52              1
37 2020-06-27      0                      4                  51              0
38 2020-06-28      0                      5                  50              0
39 2020-06-29      0                      6                  49              0

In [180]:
#Load tweet dataframe from csv
df_combined_tweets = pd.read_csv('combined_tweets.csv')
df_combined_tweets.head()
#Convert date to datetime
df_combined_tweets['date'] = pd.to_datetime(df_combined_tweets['date'])
#Merge the two dataframes
merged_df = pd.merge(df_combined_tweets, df_rally, on='date', how='left')
merged_df

,date,tweet_count,total_avg,positive_count,positive_avg,negative_count,negative_avg,day,rally,days_since_last_rally,days_to_next_rally,within_3_days
0,2021-01-08,816,-0.058430,296,0.471341,351,-0.533321,2021-01-08,0,2,168,1
1,2021-01-09,855,-0.055365,305,0.485512,370,-0.528158,2021-01-09,0,3,167,1
2,2021-01-10,598,-0.129875,202,0.463348,297,-0.576639,2021-01-10,0,4,166,0
3,2021-01-11,691,-0.042697,231,0.515897,299,-0.497245,2021-01-11,0,5,165,0
4,2021-01-12,916,-0.055817,318,0.510651,394,-0.541918,2021-01-12,0,6,164,0
5,2021-01-13,712,-0.099969,235,0.478191,337,-0.544667,2021-01-13,0,7,163,0
6,2021-01-14,745,-0.058348,232,0.478220,296,-0.521677,2021-01-14,0,8,162,0
7,2021-01-15,568,-0.054584,183,0.530176,237,-0.540193,2021-01-15,0,9,161,0
8,2021-01-16,359,-0.119093,107,0.455482,168,-0.544589,2021-01-16,0,10,160,0
9,2021-01-17,273,-0.073653,86,0.494123,115,-0.544364,2021-01-17,0,11,159,0
10,2021-01-18,301,-0.098263,89,0.473739,139,-0.516115,2021-01-18,0,12,158,0
11,2021-01-19,281,-0.087853,76,0.540399,118,-0.557263,2021-01-19,0,13,157,0
12,2021-01-20,359,-0.053114,125,0.451030,150,-0.502979,2021-01-20,0,14,156,0
13,2021-01-21,201,-0.123714,56,0.512882,101,-0.530573,2021-01-21,0,15,155,0
14,2021-01-22,209,-0.120462,55,0.516398,104,-0.515177,2021-01-22,0,16,154,0
15,2021-01-23,148,-0.056882,58,0.441698,61,-0.557985,2021-01-23,0,17,153,0
16,2021-01-24,168,-0.061902,63,0.468452,72,-0.554333,2021-01-24,0,18,152,0
17,2021-01-25,179,0.022268,68,0.486637,58,-0.501817,2021-01-25,0,19,151,0
18,2021-01-26,135,-0.123089,49,0.493624,69,-0.591371,2021-01-26,0,20,150,0
19,2021-01-27,118,-0.047482,39,0.573985,53,-0.528081,2021-01-27,0,21,149,0
20,2021-01-28,248,-0.064606,78,0.471021,98,-0.538386,2021-01-28,0,22,148,0
21,2021-01-29,177,-0.053793,62,0.450629,66,-0.567582,2021-01-29,0,23,147,0
22,2021-01-30,157,-0.048097,69,0.436510,68,-0.553976,2021-01-30,0,24,146,0
23,2021-01-31,90,-0.203159,20,0.417620,48,-0.554931,2021-01-31,0,25,145,0
24,2021-02-01,143,-0.076739,54,0.444609,58,-0.603148,2021-02-01,0,26,144,0
25,2021-02-02,148,-0.102641,44,0.445641,68,-0.511751,2021-02-02,0,27,143,0
26,2021-02-03,215,-0.034601,56,0.538586,66,-0.569697,2021-02-03,0,28,142,0
27,2021-02-04,149,-0.034908,32,0.400462,36,-0.500447,2021-02-04,0,29,141,0
28,2021-02-05,128,-0.101423,37,0.529603,61,-0.534056,2021-02-05,0,30,140,0